@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
device-switch-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .device-switch-margin {
    margin: 10px;
    height: 30px;
  }
  body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
    align-content: center;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }